[Unit]
Description=Multi-View React Client
Wants=marwa-update.service
Requires=marwa-update.service
After=network.target
After=marwa-update.service
StartLimitIntervalSec=0

[Service]
Type=simple
User=root
RootDirectory=/
WorkingDirectory=/home/marwa/client
ExecStart=/home/marwa/client/client-startup.sh
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
