[Unit]
Description=Reports configuration update from database
After=network.target
Before=marwa-server.service
Before=marwa-client.service
Before=marwa-reports.service

[Service]
Type=simple
User=ventec
RootDirectory=/
WorkingDirectory=/home/marwa
ExecStart=/home/marwa/marwa-update-config

[Install]
WantedBy=multi-user.target
WantedBy=marwa-server.service
WantedBy=marwa-reports.service
