[Unit]
Description=GraphQL Server
Wants=marwa-update.service
Requires=marwa-update.service
After=network.target
After=marwa-update.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=3
User=root
RootDirectory=/
WorkingDirectory=/home/marwa/server
ExecStart=/home/marwa/server/server-startup.sh
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
