[Unit]
Description=Multi-View React Client
Wants=mvr-update.service
Requires=mvr-update.service
After=network.target
After=mvr-update.service
StartLimitIntervalSec=0

[Service]
Type=simple
User=root
RootDirectory=/
WorkingDirectory=/home/ventec/vocsn-web/client
ExecStart=/home/ventec/vocsn-web/client/client-startup.sh
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
