[Unit]
Description=Report Generator
Wants=mvr-update.service
After=network.target
After=mvr-update.service
Requires=mvr-update.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=3
User=ventec
WorkingDirectory=/home/marwa/reports
ExecStart=/usr/bin/python3 /home/marwa/reports/report_generator_d.py -p

[Install]
WantedBy=multi-user.target
